<ul class="reproducible-links new-menu children">
  <h4>Reproducible Builds projects</h4>
  <li>
    <a href="https://Reproducible-builds.org">Reproducible-builds.org</a><br />
    Reproducible-builds.org - <a href="https://Reproducible-builds.org/docs/">HowTo</a><br />
    Reproducible Debian - <a href="https://wiki.debian.org/ReproducibleBuilds">Wiki</a><br />
    Reproducible builds <a href="https://reproducible.alioth.debian.org/blog/">weekly news</a><br />
    <a href="https://reproducible-builds.org/specs/source-date-epoch/">SOURCE_DATE_EPOCH specification</a><br />
  </li><li>
    Reproducible <a href="https://tests.reproducible-builds.org/archlinux/">Arch Linux</a> /
    <a href="https://tests.reproducible-builds.org/coreboot/">coreboot</a> /
    <a href="https://tests.reproducible-builds.org/debian/">Debian</a> /
    <a href="https://tests.reproducible-builds.org/fedora/">Fedora</a> /
    <a href="https://tests.reproducible-builds.org/freebsd/">FreeBSD</a> /
    <a href="https://tests.reproducible-builds.org/netbsd/">NetBSD</a> /
    <a href="https://tests.reproducible-builds.org/openwrt/">OpenWrt</a>
  </li>
</ul>
